<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mbf">
    <xacro:arg name="use_sim" default="false"/>
    <xacro:include filename="$(find mbf_description)/urdf/mbf.urdf"/>
    <xacro:include filename="$(find mbf_description)/ros2_control/ros2_control.xacro"/>
    <xacro:if value="$(arg use_sim)">
        <xacro:include filename="$(find mbf_description)/xacro/gazebo.xacro"/>
    </xacro:if>
</robot>